/*-- scss:defaults --*/
.centered {
  text-align: center;
 }
 .bigger {
  font-size: 65px;
}

/*-- scss:rules --*/
   
   .slide-background-content{
     background: linear-gradient( rgb(196, 241, 249) 0%, rgb(249, 188, 139) 65%, rgb(80, 158, 254))
   }
   .fragment{
     font-size: 38px;
   }
   #title-slide,
       .subtitle {
           font-size: 60px;
       }
   #title-slide,
       .h1{
         font-size: 55px;
       }
   .reveal h1 {
       text-align: center;
     }
   