/*-- scss:defaults --*/

.centered {
 text-align: center;
}
.rightarrow{
  position: relative;
  left: 630px;
  top: -175px;
}
.rightarrow2{
  position:relative;
  left: 630px;
  top: -150px;
}
.leftarrow{
  position: relative;
  top: -50px;
  left: 10px;
}
.leftarrow2{
  position: relative;
  top: -30px;
  left: -75px;
}
.xbar{
  position: relative;
  left: 60px;
}
.bitright{
  position: relative;
  left: 200px;
}
.right {
  position: relative; 
  left: 260px;
}
.bitleft {
  position: relative;
  left: -20px;
}
.high{
  position:relative;
  top: -25px;
}
.higher {
  position: relative;
  top: -50px;
}
.evenhigher {
  position: relative;
  top: -80px;
}
.higherstill {
  position: relative;
  top: -230px;
}
.toohigh {
  position: relative;
  top: -360px;
}
.bitlower {
  position: relative;
  top: 30px;
}
.littlelower{
  position: relative;
  top: 50px;
}
.lower {
  position: relative;
  top: 75px;
}
.hmlower {
  position: relative;
  top: 100px;
}
.hmmlower {
  position: relative;
  top: 120px;
}
.evenlower {
  position: relative;
  top: 150px;
}
.lowerstill {
  position: relative;
  top: 175px;
}
.lotslower {
  position: relative;
  top: 200px;
}
.waylower {
  position: relative;
  top: 260px;
}
.bitbigger{
  font-size: 55px;
}
.bigger {
  font-size: 65px;
}
.eqn1 {
  position: relative;
  top: -185px;
  left: 345px;
}
.eqn2 {
  position: relative;
  top: -185px;
  left: 360px;
}

/*-- scss:rules --*/

.slide-background-content{
  background: linear-gradient( rgb(196, 241, 249) 0%, rgb(249, 188, 139) 65%, rgb(80, 158, 254))
}
.fragment{
  font-size: 38px;
}
.bitsmall{
  font-size: 34px !important;
}
.small{
  font-size: 18px !important;
}
#title-slide,
    .subtitle {
        font-size: 60px;
    }
#title-slide,
    .h1{
      font-size: 55px;
    }
.reveal h1 {
    text-align: center;
  }

  .longq {
    font-size: 35px;
  }
